extends ./layouts/_layout.jade

block content
	.container.side-card-wrapper
		.row
			.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.side-flex.side-table-wrapper
					h2.side-table-wrapper__title=title
					a.side-button.side-card-wrapper__button(href="/4admin/page")=texts.BACK
				.side-form-wrapper
					form(class='table-side-to-validate' action="/4admin/page/change")
						each page in pages
							- if(page._id)
								input(type="hidden" name="_id" value=page._id)
							each item in page.items
								- var K = item.lang_key.toUpperCase();
								.side-form-group
									label(for="title_"+item.lang_key)
										input(type="text" name="title_"+item.lang_key id="title_"+item.lang_key placeholder=texts.TITLE+" "+K  value=item.title)
										span=texts.TITLE+" "+K
								.side-form-group
									label(for="description_"+item.lang_key)
										textarea(id="description_"+item.lang_key name="description_"+item.lang_key placeholder=texts.DESCRIPTION+" "+K required)=item.description
										span=texts.DESCRIPTION+" "+K
								.side-form-group
									label(for="google_keywords_"+item.lang_key)
										input(id="google_keywords_"+item.lang_key name="metak_"+item.lang_key placeholder="Google Meta Keywords " + K value=item.metak)
										span 
											| Google Keys #{K}
								.side-form-group
									label(for="google_description_"+item.lang_key)
										input(id="google_description_ru" name="metad_"+item.lang_key placeholder="Google Meta Description " + K  value=item.metad)
										span 
											| Google Desc #{K}

							.side-form-group
									label(for="script")
										input(type="text" name="script" id="script" value=page.script)
										span Script

							.side-form-group
								button.side-button.submit-button=texts.SAVE
	script(src="/4admin/assets/js/lib/ckeditor/ckeditor.js")
	script.
		CKEDITOR.config.width = '80%';
		CKEDITOR.config.allowedContent = true;
		CKEDITOR.config.extraAllowedContent = '*(*)';
		CKEDITOR.config.filebrowserBrowseUrl = '/4admin/uploader';
		CKEDITOR.config.filebrowserUploadUrl = '/4admin/uploader';
		CKEDITOR.replaceAll();