extends ./layouts/_layout.jade

block content
	.container.side-card-wrapper
		.row
			.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.side-flex.side-table-wrapper
					h2.side-table-wrapper__title=title
					div.side-button.side-card-wrapper__button.side-drop-down
						span=texts.ADD
						form(class='side-validation-requested table-side-to-validate side-drop-down__absolute_form' action="/4admin/"+linksToAdd)
							.side-form-group
								label(for="label")
									input(type="text" name="label" id="label" placeholder="Name only english" required)
									button.side-button.submit-button.button-ico
										i.fa.fa-plus
							
				table.table.table-side.table-side-remove
					tr
						td(width="60%") 
							p=texts.LABEL
						td(width="20%" align="center") 
							p=texts.EDIT
						td(width="20%" align="center") 
							p=texts.DELETE
					each item, i in general
						tr.table-side__item.table-side__item-remove
							td(width="60%")
								a( class="side-edited-link" href="/4admin/"+linksToEdit+"/"+item._id)=item.label 
							td(width="20%" align="center")
								a(href="/4admin/"+linksToEdit+"/"+item._id class="fa fa-edit")
							td(width="20%" align="center")
								span(class="side-remove-item fa fa-remove" data-href="/4admin/"+linkToDelete+"?_id="+item._id)