extends ./layouts/_layout.jade

block content
	.container.side-card-wrapper
		.row
			.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.side-flex.side-table-wrapper
					a.side-button.side-card-wrapper__button(href="/4admin/carousel")=texts.BACK
					h2.side-table-wrapper__title=title
					.side-table-wrapper__label
						a.side-button.side-card-wrapper__button(href="/4admin/carousel/item_edit/"+_id+'/'+(count || 0))=texts.ADD_ITEM
			.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12.side-item-to-paste.table-side-remove.table-side-to-validate(id="side-label-of-category" data-id=_id)
				.side-image-carousel
					each item, i in carousel.items
						.side-image-carousel__wrapper-img.table-side__item-remove.col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12
							.side-image-carousel-controls
								a(class="side-image-carousel-controls__item  fa fa-pencil" href="/4admin/carousel/item_edit/"+_id+"/"+i)
								span(class="side-image-carousel-controls__item side-remove-item fa fa-remove" data-href="/4admin/"+linkToDelete+"?_label="+item.label+"&_id="+_id)
							img(class="side-image-carousel__image" src=item.src)
							- var tr = translation[item.label] ? translation[item.label].title : '';
							p(class="side-image-carousel__title")=tr




					