extends ./layouts/_layout.jade

block content
	.container.side-card-wrapper
		.row
			.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.side-flex.side-table-wrapper
					h2.side-table-wrapper__title=title
					a.side-button.side-card-wrapper__button(href="/4admin/text")=texts.BACK
				.side-form-wrapper
					form(class='table-side-to-validate' action="/4admin/text/create")
						- if(textPage && textPage._id)
							input(type="hidden" name="_id" value=textPage._id)
						.side-form-group
							label(for="label")
								input(type="text" name="label" id="label" placeholder=texts.LABEL value=textPage.label)
								span=texts.LABEL
						each text in textPage.translation
							- var K = text.lang_key.toUpperCase();
							.side-form-group
								label(for="title_"+text.lang_key)
									input(type="text" name="title_"+text.lang_key id="title_"+text.lang_key placeholder=texts.TITLE+" "+K value=text.title)
									span=texts.TITLE+" "+K
							.side-form-group
								label(for="description_"+text.lang_key)
									textarea(id="description_"+text.lang_key name="description_"+text.lang_key placeholder=texts.DESCRIPTION+" "+K required)=text.description
									span=texts.DESCRIPTION+" "+K
						.side-form-group
							button.side-button.submit-button=texts.SAVE
	script(src="/4admin/assets/js/lib/ckeditor/ckeditor.js")
	script.
		CKEDITOR.config.width = '80%';
		CKEDITOR.config.filebrowserBrowseUrl = '/4admin/uploader';
		CKEDITOR.config.filebrowserUploadUrl = '/4admin/uploader';
		CKEDITOR.replaceAll();